<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section>
<h1 th:text="${Bookid}"></h1>
<form action="#" 
							  th:object="${extracts}"
							  enctype="multipart/form-data"
							  method="POST"
							  th:action="@{/user/extract-update}"
							  class="mt-2"
						>	
	
	
	<img src="#" alt=""style="height: 400px; width: 500px;"  th:src="${extracts.eimage}" ></img>
	
	
	<input type="hidden" th:value="${extracts.eId}" name="eId" />
	<input type="hidden" th:value="${Bookid}"name="Id" />
	
							  
 
  
  
  
  <div class="form-group">
    <label >subject</label>
    <input type="text" class="form-control" name="subject"  th:value="${extracts.subject}">
  </div>
  
  
  <div class="form-group mt-3">
							
							<textarea id="mytextarea" placeholder="Enter contact description" name="details"  class="form-control"  rows="10"style="height: 300px; width: 770px;"th:text="${extracts.details}"></textarea>
						
						</div>
						
						
						<p class="text-secondary">Choose new profile pic</p>
						
						<div class="custom-file">
							<input type="file" name="profileImage" th:value="${extracts.eimage}" />
						
						</div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		
		<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>



</section>

</body>
</html>