<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

	<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>	
					
				<script src=https://code.jquery.com/jquery-3.6.0.js></script>
</head>
<body>
<section>

<div class="bg-light">
<h1>All the notes of the user</h1>
</div>



<div class="search-container my-3">
		

<table class="table">
  <thead>
    <tr>
    
      <th scope="col">#id</th>
      <th scope="col">image</th>
      <th scope="col">description</th>
      <th scope="col">title</th>
       <th scope="col">Subject</th>
      
      
    </tr>
  </thead>
  <tbody>
    <tr  th:each="n:${notes}">
    
   
      <th scope="row"th:text="${n.cId}"></th>
    <!--   <th>	<img src="" class="my_profile_picture" th:src="@{'/img/'+${n.image}}" alt="profile photo" /></th> -->
    
    <th>	<img src="" class="my_profile_picture" th:src="${n.image}" alt="profile photo" /></th>
      <td th:text="${n.description}"></td>
      
       <td >
      <a href="#" th:href="@{'/user/'+${n.cId}+'/book'}">
    <span th:text="${n.title}"></span>
      </a>
      
      
       </td>
      <td th:text="${n.subject}"></td>
       <td>
			      
			       <a href="#" th:href="@{'/user/delete/'+${n.cId}}" class="btn btn-danger btn-sm">Delete</a>
			      
			      	
				
				<script src=https://code.jquery.com/jquery-3.6.0.js></script>
				<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>	
					
					
			    <!--<form onsubmit="return deletedata(this)" class="mt-2"th:id="'mynotes' + ${n.cId}">
			      
			      <input type="text" name="image" th:value="${n.image}">
			      			      <input type="text" name="cId" th:value="${n.cId}">
			      
			      
			     		 <button type="submit" class="btn btn-danger btn-sm">delete</button>
			       
			                                   </form>   --> 
			                                   
			                                   
			                                   
			       					<script type="module" th:src="@{/js/script.js}"></script>
			       
			       
			       
			      
			      <form method="post" th:action="@{'/user/notesupdate/'+${n.cId}}" class="mt-2">
			      
			     		 <button type="submit" class="btn btn-primary btn-sm">Update</button>
			       
			       </form>
			      </td>
       
      
    </tr> 
    
    
   
  
  </tbody>
</table>



</div>




</section>

<script>


$(document).ready(() => {
  $(".item").removeClass("active");
  $("#contacts-link").addClass("active");
});

</script>
</body>
</html>