<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/baseadmin::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">about</th>
      <th scope="col">email</th>
      <th scope="col">name</th>
       <th scope="col">enabled</th>
       <th scope="col">role</th>
       
        <th scope="col">action</th>
            
      
    </tr>
  </thead>
  <tbody >
    <tr th:each="user:${users}">
      <th scope="row"th:text="${user.id}"></th>
      <td th:text="${user.about}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.enabled}"></td>
      <td th:text="${user.role}"></td>
      <td>
      
			      
			      	
				
				<script src=https://code.jquery.com/jquery-3.6.0.js></script>
				<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>	
					
					
			   
			       <a href="#" th:href="@{'/admin/deleteuser/'+${user.id}}" class="btn btn-danger btn-sm">Delete</a>
			                                   
			                                   
			       					<script type="module" th:src="@{/js/script.js}"></script>
			       
			       
			       
			      
			      <form method="post" th:action="@{'/admin/userupdate/'+${user.id}}" class="mt-2">
			      
			     		 <button type="submit" class="btn btn-primary btn-sm">Update</button>
			       
			       </form>
      
      
      
      
      </td>
      
      
      
    </tr>
   
  </tbody>
</table>

</section>
</body>
</html>