<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/baseadmin::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section>

<form action="#" 
							  th:object="${user}"
							  enctype="multipart/form-data"
							  method="POST"
							  th:action="@{/admin/user-update}"
							  class="mt-2"
						>	
	
	
	<!-- <img src="#" alt=""style="height: 200px; width: 200px;" class="my_profile_picture"  th:src="@{'/img/'+${notes.image}}" ></img> -->
	
	<input type="hidden" th:value="${user.id}" name="id" />
							  
  <div class="form-group">
  
    <label for="exampleInputEmail1">title</label>
    <input type="text" class="form-control"  name="role" placeholder="Enter Role"th:value="${user.Role}">
  </div>
  
  <div class="form-group">
  
    <label for="exampleInputEmail1">title</label>
    <input type="text" class="form-control"  name="email" placeholder="Enter email"th:value="${user.email}">
  </div>
  
  
  <div class="form-group">
    <label >subject</label>
    <input type="text" class="form-control" name="about"  th:value="${user.about}">
  </div>
  
  	
					
  
  
  
  
  
						
						
						<p class="text-secondary">Choose new profile pic</p>
						
						
						
						
<input type="text"name="enabled" class="form-group"id="enabled"th:value="${user.enabled}">
						
						
						
					<!--  	<div class="custom-file">
							<input type="file" name="profileImage" th:text="${user.image}" />
						
						</div>-->
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script th:src="@{/js/script.js}"></script>

	











	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
		
		<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>



</section>
</body>
</html>