<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="newbase::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section>
	
	
	
	<div style="text-align:center">
	
		<h1 style="margin-top:200px;font-size:60px;font-family:san-serif">Welcome Here</h1>
		<h2  style="font-size:60px;font-family:san-serif" >Here we can post and share</h2>
				<h2  style="font-size:60px;font-family:san-serif" >articles with our friends</h2>
		
		</div>
		
		
	</section>
</body>
</html>