<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="newbase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>

				<h1 style="margin-top:200px">verification</h1>


<form action="#"
							  
							  
							  method="POST"
							  th:action="@{/verifyuser}"
							  class="mt-2">
 <div class="form-group">
  
    <label for="exampleInputEmail1">to</label>
    <input type="text" class="form-control"  name="to" placeholder="Enter email">
  </div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

</section>

</body>
</html>